absl-py
astor
attrs
autoflake
autopep8
backcall
bleach>=3.1.4
cycler
decorator
defusedxml
entrypoints
flake8
gast==0.2.2
google-pasta
grpcio
h5py
imageio
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
Keras
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
MarkupSafe
matplotlib
mccabe
mistune
nbconvert
nbformat
networkx
notebook
numpy
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow>=7.1.0
# pkg-resources
prometheus-client
prompt-toolkit
protobuf
ptyprocess
pycodestyle
pyflakes
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
PyWavelets
PyYAML
pyzmq
qtconsole
saliency
scikit-image
scipy
seaborn
Send2Trash
six
tensorboard
tensorflow
tensorflow-estimator
tf-slim==1.1.0
termcolor
terminado
testpath
tornado
traitlets
wcwidth
webencodings
Werkzeug
widgetsnbextension
wrapt
